# Intro to ScikitLearn
# what are we going to cover?

0. an end to end scikit-learn workflow  
1. getting data ready  
2. choose the right algorithem for out problems  
3. fit the model / algorithm and use it to make prediction on out data  
4. Evaluating a model  
5. improve a model  
6. save and load a trained model  
7. putting it all together

# 0. an end to end scikit-learn workflow

In [2]:
# 1.Get the data ready
import pandas as pd
heart_disease = pd.read_csv("data/heart-disease.csv")
heart_disease

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [3]:
# Create X(feautures matrix)
X = heart_disease.drop("target",axis=1)

# Create Y(labels)
Y = heart_disease["target"]

In [10]:
import sklearn
from sklearn.ensemble import RandomForestClassifier

ModuleNotFoundError: No module named 'sklearn'